<div app-head-bar text="编辑资料"></div>
<div class="edit">
  <div class="list">
    <div class="title">
      <span class="glyphicon glyphicon-triangle-right"></span>
      <span>个人信息</span>
    </div>

    <div class="item">
      <span>姓名</span>
      <input type="text" ng-model="user.name" validator="required,chinese" disabled>
    </div>
    <div class="item">
      <span>性别</span>
      <select name="sex" id="sex" ng-model="user.gender">
        <option value="男" ng-selected="user.gender =='男'">男</option>
        <option value="女" ng-selected="user.gender =='女'">女</option>
      </select>
    </div>
    <div class="item">
      <span>民族</span>
      <input type="text" ng-model="user.nation" validator="required,chinese">
    </div>
    <div class="item">
      <span>生日</span>
      <input type="text" ng-model="user.birth" validator="required,birth">
    </div>
  </div>
  <div class="list">
    <div class="title">
      <span class="glyphicon glyphicon-triangle-right"></span>
      <span>学校信息</span>
    </div>
    <div class="item">
      <span>学号</span>
      <input type="text" ng-model="user.stunum" disabled>
    </div>
    <div class="item">
      <span>学院</span>
      <input type="text" ng-model="user.institute" validator="chinese">
    </div>
    <div class="item">
      <span>年级</span>
      <input type="text" ng-model="user.grade" validator="required">
    </div>
    <div class="item">
      <span>班级</span>
      <input type="text" ng-model="user.class" validator="required">
    </div>
  </div>
  <div class="list">
    <div class="title">
      <span class="glyphicon glyphicon-triangle-right"></span>
      <span>绑定信息</span>
    </div>
    <div class="item">
      <span>手机号</span>
      <input type="text" ng-model="user.telephone" validator="phone">
    </div>
    <div class="item">
      <span>邮箱</span>
      <input type="text" ng-model="user.email" disabled>
    </div>
    <div class="item">
      <span>个性签名</span>
      <input type="text" ng-model="user.sign">
    </div>
  </div>
  <button ng-click="submit()">提交</button>
</div>