<div app-head-bar text="我的"></div>
<div class="mine ">
  <div class="me">
    <img src="img/photo.jpg">
    <div>王小仙</div>
    <p>个性签名：有理想的人</p>
  </div>
  <div class="tch">
    <button ui-sref="record" class="myTch">
      <div>2</div>
      <div>评教记录</div>
    </button>
    <span></span>
    <button ng-show="type=='学生'" ui-sref="myTeacher" class="myTch">
      <div>5</div>
      <div>任课老师</div>
    </button>
    <button ng-hide="type=='学生'" ui-sref="myTeacher" class="myTch">
      <div>1</div>
      <div>1111</div>
    </button>
  </div>
  <div class="my">
    <div class="list" ui-sref="course">
      <span  class="cour glyphicon glyphicon-education" aria-hidden="true"></span>
      <span>课程表</span>
      <span  class="fr glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
    <div class="list" ui-sref="message">
      <span  class="message glyphicon glyphicon-comment" aria-hidden="true"></span>
      <span>消息</span>
      <span  class="fr glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
    <div class="list" ui-sref="personal">
      <span  class="per glyphicon glyphicon-edit" aria-hidden="true"></span>
      <span>个人中心</span>
      <span  class="fr glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
    <div class="list" ui-sref="site">
      <span  class="set glyphicon glyphicon-cog" aria-hidden="true"></span>
      <span>设置</span>
      <span  class="fr glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
  </div>
  <!--<div class="login" ui-sref="login">去登录</div>-->
</div>
<div app-footer></div>