<div app-head-bar text="修改密码"></div>
<div class="updatePassword">
  <div class="pws">
    <div>
      <span class="pw">原密码</span>
      <input ng-model="user.pw2" type="password" validator="required,pw" placeholder="填写原密码">
    </div>
    <div>
      <span class="pw">新密码</span>
      <input ng-model="user.pwN1" type="password" validator="required,pw" placeholder="填写新密码">
    </div>
    <div>
      <span class="pw">确认密码</span>
      <input ng-model="user.pwN2" type="password" placeholder="再次确认密码">
      <span class="samepw" ng-show="user.pwN1!=user.pwN2">两次密码不一致</span>
    </div>

  </div>
  <div class="tip">密码必须是6-20位的数字、字母组合（不能是纯数字）</div>
  <button ng-click="submit()">提交</button>
  <span class="forgetPw" ui-sref="forget">忘记原密码?</span>
</div>