<div class="head">
  <input class="search" ng-blur="check(search)" type="text" placeholder="Search for..." ng-model="search">
  <select name="list" class="btn-default"  ng-init="type='姓名'" ng-model="type">
    <option value="name" ng-selected="type=='姓名'">姓名</option>
    <option value="course" ng-selected="type=='课程'">课程</option>
    <option value="id" ng-selected="type=='工号'">工号</option>
    <option value="others" ng-selected="type=='其他'">其他</option>
  </select>
  <input class="btn" type="button" class="btn" ng-click="send()" value="G0!">
</div>