html,
body {
  height: 100%;
}
input[disabled] {
  background: white;
}
html,
body,
span,
div,
h1,
h2,
h3,
ul,
li,
p,
a,
img,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a,
img {
  display: block;
}
ul {
  list-style: none;
}
a,
input,
button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
.headBar {
  height: 2.13333333rem;
  width: 100%;
  background: #505050;
  text-align: center;
  font-size: 0.85333333rem;
  line-height: 2.13333333rem;
  position: relative;
}
.headBar span {
  color: white;
}
.headBar span.fl {
  position: absolute;
  top: 0.64rem;
  left: 0.64rem;
}
.head {
  height: 2.56rem;
  padding-top: 0.64rem;
  text-align: center;
}
.head .search {
  width: 60%;
  height: 1.28rem;
  line-height: 3.41333333rem;
  padding-left: 0.42666667rem;
  border-radius: 4px;
  vertical-align: center;
  background: #eee;
}
.head .btn {
  padding: 0;
  width: 1.92rem;
  height: 1.28rem;
  background: white;
  border-radius: 4px;
  border: none;
  margin-top: -0.21333333rem;
  background: #505050;
  color: white;
}
.head select {
  border: none;
  width: 2.56rem;
  height: 1.28rem;
  border-radius: 4px;
  margin: 0 0.128rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  background: #505050;
  color: white;
  text-align: center;
  text-align-last: center;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 2.13333333rem;
  background: #505050;
  width: 100%;
}
.footer ul {
  text-align: center;
}
.footer ul li {
  float: left;
  width: 33.33333%;
  line-height: 1.70666667rem;
  color: white;
  padding: 0.21333333rem 0;
}
.footer ul li.select {
  background: white;
  color: #505050;
}
.footer ul li span {
  display: block;
  line-height: 0.85333333rem;
}
.content {
  margin: 0 0.64rem;
}
.content ul {
  width: 100%;
  height: 1.70666667rem;
  text-align: center;
  line-height: 1.70666667rem;
  margin: 0;
}
.content ul.listhead {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.content ul li {
  float: left;
  width: 25%;
}
.headBar {
  height: 2.13333333rem;
  width: 100%;
  background: #505050;
  text-align: center;
  font-size: 0.85333333rem;
  line-height: 2.13333333rem;
  position: relative;
}
.headBar span {
  color: white;
}
.headBar span.fl {
  position: absolute;
  top: 0.64rem;
  left: 0.64rem;
}
.mine {
  position: fixed;
  left: 0;
  right: 0;
  top: 2.13333333rem;
  bottom: 2.13333333rem;
}
.mine .login {
  position: absolute;
  height: 1.70666667rem;
  background: yellow;
  line-height: 1.70666667rem;
  text-align: center;
  border-radius: 4px;
  top: 19.2rem;
}
.mine .me {
  text-align: center;
}
.mine .me img {
  width: 4.26666667rem;
  height: 4.26666667rem;
  margin: 2.13333333rem auto 0.42666667rem;
}
.mine .tch {
  margin: 0 1.024rem;
}
.mine .tch span {
  border-left: 1px solid #ddd;
}
.mine .tch .myTch {
  width: 6.82666667rem;
  padding: 0.42666667rem;
  background: white;
  text-align: center;
}
.mine .my {
  padding: 0.42666667rem 0.85333333rem 0;
}
.mine .my .list {
  height: 1.49333333rem;
  border-bottom: 1px solid #ddd;
  line-height: 1.49333333rem;
}
.mine .my .list .glyphicon {
  margin-right: 0.42666667rem;
}
.mine .my .list .cour {
  color: steelblue;
}
.mine .my .list .message {
  color: orange;
}
.mine .my .list .per {
  color: greenyellow;
}
.mine .my .list .set {
  color: #31b0d5;
}
.mine .my .list .fr {
  float: right;
  margin-top: 0.29866667rem;
}
.login {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/background.png") no-repeat;
  background-size: 100% 100%;
}
.login .contain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 12.8rem;
  height: 11.94666667rem;
}
.login .contain select {
  height: 2.13333333rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
  text-align: center;
  text-align-last: center;
}
.login .contain .put {
  height: 2.13333333rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  line-height: 2.13333333rem;
  text-align: center;
  border-top: 1px solid white;
}
.login .contain .put .icon {
  height: 1.70666667rem;
  width: 1.92rem;
  color: white;
}
.login .contain .put .bg {
  background: rgba(0, 0, 0, 0.3);
  padding-left: 0.64rem;
  width: 10.66666667rem;
  color: white;
}
.login .contain .put .bg::-webkit-input-placeholder {
  color: white;
}
.login .contain .forgetpw {
  margin: 0.42666667rem 0.42666667rem 0 0;
}
.login .contain .forgetpw span {
  color: yellow;
  float: right;
}
.login .contain .btns {
  width: 12.8rem;
  margin-top: 2.56rem;
}
.login .contain .btns button {
  width: 100%;
  height: 1.70666667rem;
  border-radius: 4px;
}
.login .contain .btns button.loginbtn {
  border: 1px solid rgba(255, 255, 0, 0.3);
  background: yellow;
}
.login .contain .btns button.regbtn {
  margin-top: 0.64rem;
  background: rgba(255, 255, 0, 0.3);
  border: 1px solid yellow;
}
.register {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/background.png") no-repeat;
  background-size: 100% 100%;
}
.register .contain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 12.8rem;
  height: 25.6rem;
}
.register .contain select {
  height: 2.13333333rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
  text-align: center;
  text-align-last: center;
}
.register .contain .put {
  height: 2.13333333rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  line-height: 2.13333333rem;
  text-align: center;
  border-top: 1px solid white;
}
.register .contain .put .samepw {
  color: red;
  position: absolute;
  top: 14.93333333rem;
  right: 0.42666667rem;
}
.register .contain .put .icon {
  height: 1.70666667rem;
  width: 1.92rem;
  color: white;
}
.register .contain .put .bg {
  background: rgba(0, 0, 0, 0.3);
  padding-left: 0.64rem;
  width: 10.66666667rem;
  color: white;
}
.register .contain .put .bg::-webkit-input-placeholder {
  color: white;
}
.register .contain .msg {
  height: 1.70666667rem;
  margin-top: 1.70666667rem;
}
.register .contain .msg input {
  height: 1.70666667rem;
  background: rgba(0, 0, 0, 0.5);
  float: left;
  border-radius: 4px;
  padding-left: 0.64rem;
  color: white;
}
.register .contain .msg input::-webkit-input-placeholder {
  color: white;
}
.register .contain .msg .post {
  height: 1.70666667rem;
  width: 2.98666667rem;
  text-align: center;
  line-height: 1.70666667rem;
  float: right;
  border-radius: 4px;
  border: 1px solid yellow;
  color: yellow;
}
.register .contain .msg .post.disabled {
  color: #d4d4d4;
  border: 1px solid #d4d4d4;
}
.register .contain .btns {
  width: 12.8rem;
  margin-top: 1.28rem;
}
.register .contain .btns button {
  width: 100%;
  height: 1.70666667rem;
  border-radius: 4px;
}
.register .contain .btns button.loginbtn {
  margin-top: 0.64rem;
  background: rgba(255, 255, 0, 0.3);
  border: 1px solid yellow;
}
.register .contain .btns button.regbtn {
  border: 1px solid rgba(255, 255, 0, 0.3);
  background: yellow;
}
.forget {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/background.png") no-repeat;
  background-size: 100% 100%;
}
.forget .contain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 12.8rem;
  height: 10.66666667rem;
}
.forget .contain .put {
  height: 2.13333333rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  line-height: 2.13333333rem;
  text-align: center;
}
.forget .contain .put:first-child {
  border-bottom: 1px solid white;
}
.forget .contain .put .icon {
  height: 1.70666667rem;
  width: 1.92rem;
  color: white;
}
.forget .contain .put .bg {
  background: rgba(0, 0, 0, 0.3);
  padding-left: 0.64rem;
  width: 10.66666667rem;
  color: white;
}
.forget .contain .put .bg::-webkit-input-placeholder {
  color: white;
}
.forget .contain .msg {
  height: 1.70666667rem;
  margin-top: 0.85333333rem;
}
.forget .contain .msg input {
  height: 1.70666667rem;
  background: rgba(0, 0, 0, 0.5);
  float: left;
  border-radius: 4px;
  padding-left: 0.64rem;
}
.forget .contain .msg input::-webkit-input-placeholder {
  color: white;
}
.forget .contain .msg .post {
  height: 1.70666667rem;
  width: 2.98666667rem;
  text-align: center;
  line-height: 1.70666667rem;
  float: right;
  border-radius: 4px;
  border: 1px solid yellow;
  color: yellow;
}
.forget .contain .msg .post.disabled {
  color: #d4d4d4;
  border: 1px solid #d4d4d4;
}
.forget .contain .btns {
  width: 12.8rem;
  margin-top: 2.56rem;
}
.forget .contain .btns button {
  width: 100%;
  height: 1.70666667rem;
  border-radius: 4px;
}
.forget .contain .btns button.loginbtn {
  border: 1px solid rgba(255, 255, 0, 0.3);
  background: yellow;
}
.forget .contain .btns button.canclebtn {
  margin-top: 0.64rem;
  background: rgba(255, 255, 0, 0.3);
  border: 1px solid yellow;
}
.personal {
  background: #eee;
}
.personal .list {
  margin: 0.85333333rem 0;
  background: white;
  padding: 0.21333333rem 0.85333333rem 0 0.85333333rem;
}
.personal .list .item {
  height: 1.49333333rem;
  line-height: 1.70666667rem;
  width: 100%;
  border-top: 1px solid #ddd;
}
.personal .list .item span {
  display: inline-block;
  margin-left: 0.768rem;
}
.personal .list .item span:first-child {
  width: 2.56rem;
  height: 1.49333333rem;
  color: gray;
}
.personal .list .item span:last-child {
  margin-left: 0.85333333rem;
}
.personal button {
  margin: 1.28rem 0.42666667rem 0 0.42666667rem;
  background: yellow;
  width: 15.14666667rem;
  height: 1.28rem;
  border: 1px solid rgba(255, 255, 0, 0.3);
}
.edit {
  background: #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  top: 2.13333333rem;
}
.edit .title span {
  padding-top: 0.21333333rem;
}
.edit .list {
  margin: 0.85333333rem 0;
  background: white;
  padding: 0.21333333rem 0.85333333rem 0 0.85333333rem;
}
.edit .list .item {
  height: 1.49333333rem;
  line-height: 1.49333333rem;
  width: 100%;
  border-top: 1px solid #ddd;
}
.edit .list .item #sex {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 75%;
  height: 1.408rem;
}
.edit .list .item span {
  display: inline-block;
  margin-left: 0.768rem;
}
.edit .list .item span:first-child {
  width: 2.56rem;
  height: 1.49333333rem;
  color: gray;
}
.edit .list .item input {
  line-height: 1.408rem;
  width: 75%;
}
.edit button {
  margin: 1.28rem 0.42666667rem 0 0.42666667rem;
  background: yellow;
  width: 15.14666667rem;
  height: 1.28rem;
  border: 1px solid rgba(255, 255, 0, 0.3);
}
.message .msgList {
  padding: 0.42666667rem;
  border-bottom: 1px solid #ddd;
}
.message .msgList img {
  width: 2.56rem;
  height: 2.56rem;
  float: left;
  margin-right: 0.85333333rem;
}
.message .msgList .msgContent {
  float: left;
}
.message .msgList .msgContent h3 {
  margin: 0.21333333rem 0;
}
.message .msgList .msgContent span {
  margin-right: 0.42666667rem;
}
.detail {
  padding: 0.64rem;
}
.detail .title {
  text-align: center;
  margin-top: 0;
}
.detail .item span {
  color: red;
  margin-right: 0.42666667rem;
}
.detail .msg {
  text-indent: 2em;
  margin-top: 0.64rem;
  word-break: break-all;
  word-wrap: normal;
}
.record {
  padding: 0.85333333rem;
}
.record .evaluate {
  height: 1.28rem;
  line-height: 1.28rem;
  border-bottom: 1px solid #ddd;
}
.record .evaluate.bgColor {
  background: rgba(255, 255, 0, 0.3);
  font-weight: bold;
  border: none;
}
.record .evaluate span {
  width: 2.13333333rem;
  height: 0.85333333rem;
  text-align: center;
  display: inline-block;
}
.record .evaluate span.fl {
  float: left;
}
.record .evaluate span.fr {
  float: right;
}
.myTeacher {
  padding: 0.64rem;
}
.myTeacher div {
  height: 1.28rem;
  line-height: 1.70666667rem;
}
.myTeacher div.teacher {
  font-weight: bold;
  border: none;
}
.myTeacher div.teacherList {
  border-bottom: 1px solid #ddd;
  padding-left: 1.28rem;
}
.evaluation {
  padding: 0 0.42666667rem;
}
.evaluation .btn {
  margin: 0.42666667rem 0;
  background: yellow;
  width: 100%;
}
.evaluation .wrap .question .queTitle {
  padding: 0.64rem;
  border-radius: 4px;
}
.evaluation .wrap .question span {
  margin-left: 2.98666667rem;
}
.evaluation .wrap .title {
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  background: #505050;
  color: white;
  margin-top: 0.42666667rem;
}
.evaluation .wrap .title span {
  margin-top: 0.55466667rem;
}
.evaluation .wrap .title span.fl {
  float: left;
  margin-left: 0.42666667rem;
  margin-right: 0.42666667rem;
  color: white;
}
.evaluation .wrap .title span.fr {
  float: right;
  margin-right: 0.42666667rem;
}
.evaluation .wrap .rdo {
  margin: 0.21333333rem 0.42666667rem 0.42666667rem 1.49333333rem;
  outline: none;
  width: 1.28rem;
  height: 0;
  background: #505050;
  border-radius: 0.64rem;
  position: relative;
}
.evaluation .wrap .rdo:checked:before {
  border: 0.128rem solid #505050;
}
.evaluation .wrap .rdo:checked:after {
  background: #505050;
  border: 0.128rem solid #505050;
}
.evaluation .wrap .rdo:before {
  position: absolute;
  display: block;
  content: '';
  border-radius: 0.64rem;
  width: 1.024rem;
  height: 1.024rem;
  background: white;
  border: 0.128rem solid #505050;
  top: 0;
  left: 0;
}
.evaluation .wrap .rdo:after {
  position: absolute;
  display: block;
  content: '';
  border-radius: 1.06666667rem;
  width: 0.59733333rem;
  height: 0.59733333rem;
  border: 0.128rem solid white;
  top: 0.21333333rem;
  left: 0.21333333rem;
}
.out {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.17066667rem;
  height: 100%;
  background: red;
}
.out .inner {
  width: 100%;
  background: #ddd;
}
.course {
  padding: 0.42666667rem;
}
.course .list .list-group .bgColor {
  background: rgba(255, 255, 0, 0.3);
}
.site {
  padding: 0.42666667rem 0;
  position: fixed;
  top: 2.13333333rem;
  bottom: 0;
  left: 0;
  right: 0;
}
.site div {
  margin: 0.21333333rem 0;
  background: #505050;
  width: 100%;
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  font-size: 0.7rem;
  padding-left: 0.85333333rem;
  color: white;
}
.updatePassword {
  padding: 0.42666667rem;
}
.updatePassword .pws {
  margin-bottom: 0.42666667rem;
}
.updatePassword .pws div .pw {
  display: inline-block;
  width: 2.98666667rem;
  height: 1.49333333rem;
  line-height: 1.49333333rem;
}
.updatePassword .pws div input {
  padding-left: 0.64rem;
  width: 78%;
  height: 1.49333333rem;
  line-height: 1.49333333rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.updatePassword .pws div input:focus {
  transition: 0.5s border-bottom;
  border-bottom: 1px solid yellow;
}
.updatePassword .pws div .samepw {
  color: red;
  position: absolute;
  top: 5.97333333rem;
  right: 0.42666667rem;
}
.updatePassword .tip {
  color: gray;
  margin-bottom: 0.85333333rem;
}
.updatePassword button {
  width: 100%;
  height: 1.28rem;
  background: yellow;
  border-radius: 4px;
  font-size: 0.7rem;
  margin-bottom: 0.42666667rem;
}
.updatePassword .forgetPw {
  color: #3dccec;
}
.find {
  height: 1.28rem;
  padding: 0 0.64rem;
  margin-bottom: 1.28rem;
}
.find .fl {
  float: left;
}
.find .fl .btn {
  margin-left: 0rem;
  width: 1.92rem;
  height: 1.70666667rem;
  background: #505050;
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 0;
}
.find .fl .self {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  height: 1.70666667rem;
  background: #505050;
  color: white;
  text-align: center;
  text-align-last: center;
  width: 4.26666667rem;
  border: none;
}
.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
* {
  margin: 0;
  padding: 0;
}
.ng-invalid + span {
  position: absolute;
  right: 0.42666667rem;
  color: red;
  line-height: 1.49333333rem;
}
